# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Generated
.flutter-plugins
.flutter-plugins-dependencies
# Environment variables
.env
